<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string></string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>0</string>
				<key>desc</key>
				<string>[大笑]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>1</string>
				<key>desc</key>
				<string>[可爱]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>2</string>
				<key>desc</key>
				<string>[色]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>3</string>
				<key>desc</key>
				<string>[嘘]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>4</string>
				<key>desc</key>
				<string>[么么]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>5</string>
				<key>desc</key>
				<string>[发呆]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>6</string>
				<key>desc</key>
				<string>[流口水]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>7</string>
				<key>desc</key>
				<string>[龇牙]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>8</string>
				<key>desc</key>
				<string>[俏皮]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>9</string>
				<key>desc</key>
				<string>[害羞]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>10</string>
				<key>desc</key>
				<string>[捂嘴]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>11</string>
				<key>desc</key>
				<string>[可怜]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>12</string>
				<key>desc</key>
				<string>[砸]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>13</string>
				<key>desc</key>
				<string>[惊讶]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>14</string>
				<key>desc</key>
				<string>[委屈]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>15</string>
				<key>desc</key>
				<string>[流泪]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>16</string>
				<key>desc</key>
				<string>[大哭]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>17</string>
				<key>desc</key>
				<string>[惊恐]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>18</string>
				<key>desc</key>
				<string>[愤怒]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>19</string>
				<key>desc</key>
				<string>[帅]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>20</string>
				<key>desc</key>
				<string>[闭嘴]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>21</string>
				<key>desc</key>
				<string>[鄙视]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>22</string>
				<key>desc</key>
				<string>[念经]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>23</string>
				<key>desc</key>
				<string>[得意]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>24</string>
				<key>desc</key>
				<string>[睡觉]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>25</string>
				<key>desc</key>
				<string>[生病]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>26</string>
				<key>desc</key>
				<string>[生气]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>27</string>
				<key>desc</key>
				<string>[抠鼻]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>28</string>
				<key>desc</key>
				<string>[疑问]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>29</string>
				<key>desc</key>
				<string>[咒骂]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>30</string>
				<key>desc</key>
				<string>[晕]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>31</string>
				<key>desc</key>
				<string>[吐]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>32</string>
				<key>desc</key>
				<string>[尴尬]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>33</string>
				<key>desc</key>
				<string>[祈祷]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>34</string>
				<key>desc</key>
				<string>[开心]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>35</string>
				<key>desc</key>
				<string>[流汗]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>36</string>
				<key>desc</key>
				<string>[卖萌]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>37</string>
				<key>desc</key>
				<string>[眨眼]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>38</string>
				<key>desc</key>
				<string>[烧香]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>39</string>
				<key>desc</key>
				<string>[哈欠]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>40</string>
				<key>desc</key>
				<string>[握手]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>41</string>
				<key>desc</key>
				<string>[赞]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>42</string>
				<key>desc</key>
				<string>[OK]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>43</string>
				<key>desc</key>
				<string>[加油]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>44</string>
				<key>desc</key>
				<string>[耶]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>45</string>
				<key>desc</key>
				<string>[掌声]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>46</string>
				<key>desc</key>
				<string>[恶魔]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>47</string>
				<key>desc</key>
				<string>[骷髅]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>48</string>
				<key>desc</key>
				<string>[粑粑]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>49</string>
				<key>desc</key>
				<string>[火]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>50</string>
				<key>desc</key>
				<string>[屁]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>51</string>
				<key>desc</key>
				<string>[爱心]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>52</string>
				<key>desc</key>
				<string>[心碎]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>53</string>
				<key>desc</key>
				<string>[锤子]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>54</string>
				<key>desc</key>
				<string>[炸弹]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>55</string>
				<key>desc</key>
				<string>[药药]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>56</string>
				<key>desc</key>
				<string>[打针]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>57</string>
				<key>desc</key>
				<string>[火箭]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>58</string>
				<key>desc</key>
				<string>[飞机]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>59</string>
				<key>desc</key>
				<string>[私家车]</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
