<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string></string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>0</string>
				<key>desc</key>
				<string>[色]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>1</string>
				<key>desc</key>
				<string>[嘘]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>2</string>
				<key>desc</key>
				<string>[亲亲]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>3</string>
				<key>desc</key>
				<string>[囧]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>4</string>
				<key>desc</key>
				<string>[饥饿]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>5</string>
				<key>desc</key>
				<string>[呲牙]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>6</string>
				<key>desc</key>
				<string>[调皮]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>7</string>
				<key>desc</key>
				<string>[愉快]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>8</string>
				<key>desc</key>
				<string>[哈欠]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>9</string>
				<key>desc</key>
				<string>[开心]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>10</string>
				<key>desc</key>
				<string>[可怜]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>11</string>
				<key>desc</key>
				<string>[敲打]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>12</string>
				<key>desc</key>
				<string>[惊讶]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>13</string>
				<key>desc</key>
				<string>[汗]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>14</string>
				<key>desc</key>
				<string>[委屈]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>15</string>
				<key>desc</key>
				<string>[流泪]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>16</string>
				<key>desc</key>
				<string>[大哭]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>17</string>
				<key>desc</key>
				<string>[恐惧]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>18</string>
				<key>desc</key>
				<string>[愤怒]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>19</string>
				<key>desc</key>
				<string>[得意]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>20</string>
				<key>desc</key>
				<string>[闭嘴]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>21</string>
				<key>desc</key>
				<string>[鄙视]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>22</string>
				<key>desc</key>
				<string>[无语]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>23</string>
				<key>desc</key>
				<string>[俏皮]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>24</string>
				<key>desc</key>
				<string>[睡觉]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>25</string>
				<key>desc</key>
				<string>[生病]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>26</string>
				<key>desc</key>
				<string>[出气]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>27</string>
				<key>desc</key>
				<string>[抠鼻]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>28</string>
				<key>desc</key>
				<string>[疑问]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>29</string>
				<key>desc</key>
				<string>[咒骂]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>30</string>
				<key>desc</key>
				<string>[晕]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>31</string>
				<key>desc</key>
				<string>[吐]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>32</string>
				<key>desc</key>
				<string>[流汗]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>33</string>
				<key>desc</key>
				<string>[祈祷]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>34</string>
				<key>desc</key>
				<string>[惊喜]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>35</string>
				<key>desc</key>
				<string>[无语]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>36</string>
				<key>desc</key>
				<string>[卖萌]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>37</string>
				<key>desc</key>
				<string>[搞怪]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>38</string>
				<key>desc</key>
				<string>[烧香]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>39</string>
				<key>desc</key>
				<string>[打哈欠]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>40</string>
				<key>desc</key>
				<string>[大笑]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>41</string>
				<key>desc</key>
				<string>[可爱]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>42</string>
				<key>desc</key>
				<string>[OK]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>43</string>
				<key>desc</key>
				<string>[耶]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>44</string>
				<key>desc</key>
				<string>[故障]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>45</string>
				<key>desc</key>
				<string>[赞]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>46</string>
				<key>desc</key>
				<string>[火]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>47</string>
				<key>desc</key>
				<string>[愤怒]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>48</string>
				<key>desc</key>
				<string>[臭粑粑]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>49</string>
				<key>desc</key>
				<string>[爱心]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>50</string>
				<key>desc</key>
				<string>[心碎]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>51</string>
				<key>desc</key>
				<string>[丘比特]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>52</string>
				<key>desc</key>
				<string>[吻]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>53</string>
				<key>desc</key>
				<string>[戒指]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>54</string>
				<key>desc</key>
				<string>[皇冠]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>55</string>
				<key>desc</key>
				<string>[啤酒]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>56</string>
				<key>desc</key>
				<string>[面条]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>57</string>
				<key>desc</key>
				<string>[蛋糕]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>58</string>
				<key>desc</key>
				<string>[汽车]</string>
			</dict>
			<dict>
				<key>image</key>
				<string>59</string>
				<key>desc</key>
				<string>[单车]</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>doge</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>baibai</string>
				<key>desc</key>
				<string>拜拜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>beishang</string>
				<key>desc</key>
				<string>悲伤</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bingbujiandan</string>
				<key>desc</key>
				<string>并不简单</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bishi</string>
				<key>desc</key>
				<string>鄙视</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bizui</string>
				<key>desc</key>
				<string>闭嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chanzui</string>
				<key>desc</key>
				<string>馋嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>miao</string>
				<key>desc</key>
				<string>喵</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chigua</string>
				<key>desc</key>
				<string>吃瓜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chijing</string>
				<key>desc</key>
				<string>吃惊</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dahaqi</string>
				<key>desc</key>
				<string>打哈气</string>
			</dict>
			<dict>
				<key>image</key>
				<string>dalian</string>
				<key>desc</key>
				<string>打脸</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ding</string>
				<key>desc</key>
				<string>叮</string>
			</dict>
			<dict>
				<key>image</key>
				<string>doge</string>
				<key>desc</key>
				<string>doge</string>
			</dict>
			<dict>
				<key>image</key>
				<string>erha</string>
				<key>desc</key>
				<string>二哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>feijie</string>
				<key>desc</key>
				<string>费解</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guile</string>
				<key>desc</key>
				<string>跪了</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guzhang</string>
				<key>desc</key>
				<string>鼓掌</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haha</string>
				<key>desc</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haixiu</string>
				<key>desc</key>
				<string>害羞</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ku</string>
				<key>desc</key>
				<string>酷</string>
			</dict>
			<dict>
				<key>image</key>
				<string>kelian</string>
				<key>desc</key>
				<string>可怜</string>
			</dict>
			<dict>
				<key>image</key>
				<string>han</string>
				<key>desc</key>
				<string>汗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heiheihei</string>
				<key>desc</key>
				<string>嘿嘿嘿</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heixian</string>
				<key>desc</key>
				<string>黑线</string>
			</dict>
			<dict>
				<key>image</key>
				<string>heng</string>
				<key>desc</key>
				<string>哼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaixiao</string>
				<key>desc</key>
				<string>坏笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>huaxin</string>
				<key>desc</key>
				<string>花心</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jiyan</string>
				<key>desc</key>
				<string>挤眼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>keai</string>
				<key>desc</key>
				<string>可爱</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>xiaohaha</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>haoaio</string>
				<key>desc</key>
				<string>好爱哦</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haoxihuan</string>
				<key>desc</key>
				<string>好喜欢</string>
			</dict>
			<dict>
				<key>image</key>
				<string>toule</string>
				<key>desc</key>
				<string>偷乐</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xiaohaha</string>
				<key>desc</key>
				<string>笑哈哈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>qiuguanzhu</string>
				<key>desc</key>
				<string>求关注</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xiudada</string>
				<key>desc</key>
				<string>羞答答</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
